*, *::after, *::before {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  /* colors */
  --hue: 340;
  --sat: 100%;

  /* default light */
  --accent: var(--hue) var(--sat) 50%;
  --background: var(--hue) var(--sat) 99%; /* 99 is almost white*/
  --text: var(--hue) var(--sat) 4%;

    /* dark mode */
    --accent--dark: var(--hue) var(--sat) 60%; /* slight lighter than light mode actually*/
    --background--dark: var(--hue) 20% 16%; /* Saturation is 20%, brightness is 16%*/
    --text--dark: var(--hue) 15% 85%;

    /* Layout, consistent spacing */
    /* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
    --spacer--sm: clamp(12px, 6.615383px + 1.538462vw, 22px);
    --spacer--md: clamp(24px, 15.384617px + 2.461538vw, 40px);
    --spacer--lg: clamp(32px, 8.8461525px + 6.615385vw, 75px);

    /* Font */
    font-size: 16px;
    --font--sm: clamp(.75rem, 0.59090903rem + 0.727273vw, 1rem);
    --font4: clamp(1.18rem, 0.94454538rem + 1.076364vw, 1.55rem);
    --font3: clamp(1.35rem, 0.93636366rem + 1.890909vw, 2rem);
    --font2: clamp(1.5rem, 0.73636366rem + 3.490909vw, 2.7rem);
    --font1: clamp(2rem, -0.22727269rem + 10.181818vw, 5.5rem);
}

@media (prefers-color-scheme: dark) { /* Used to detect users preference through their operating system */
  :root {
    --accent: var(--accent--dark);
    --background: var(--background--dark);
    --text: var(--text--dark);
  }
}

/* General */
h1, h2, h3, .h3, h4 {
  font-weight: bold;
}

h1 {
  font-size: var(--font1);
  line-height: 1;
}

h2 {
  font-size: var(--font2);
}

h3, .h3 {
  font-size: var(--font3);
}

h4 {
  font-size: var(--font4);
}

p {
  line-height: 1.4;
}

small {
  font-size: var(--font--sm);
}

.capitalized {
  text-transform: uppercase;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
}
/* General */

.container {
  display: grid;
  margin: var(--spacer--md) 0; /* No space left or right because it will look weird*/
  gap: var(--spacer--sm); /* Space between sections, can be seen using dev tools, on Firefox anyway */
  grid-template-columns: repeat(21, 1fr); /* 21 grid system */
  grid-template-rows: auto;
}

/* Header */
header {
  display: grid;
  gap: var(--spacer--sm);
  grid-area: 1/2/2/-2;
}
/* Header */

/* Tag styling */
.badge {
  background-color: hsl(var(--accent));
  text-transform: uppercase;
  font-size: var(--font--sm);
  color: hsl(var(--background));
  text-decoration: none;
  width: max-content;  /* Without this, the background color will stretch the whole page*/
}

.category {
  padding: 2px 6px;
}

.tag {
  padding: 1px 4px;
}
/* Tag styling */

/* Image and socials */
.share {
  grid-area: 2/1/3/-1;
  display: flex;
  flex-wrap: wrap-reverse;
  gap: var(--spacer--sm);
}

.share_img {
  max-width: 100%;
}

.share_social {
  display: flex;
  gap: 1rem;
  margin-left: calc(100% / 21); /* this moves the social to the right a little bit, the space isn't from the spacer var but from the 21 columns, so we space it by 1 column, hence the calc */
  align-self: end; /* a child property */
}

.social_card {
  color: hsl(var(--text));
  display: flex;
  gap: .7rem;
  text-decoration: none;
  align-items: center;
  transition: 200ms ease;
}

.social_card:is(:hover, :focus) {
  color: hsl(var(--accent));
}

.social_text {
  display: none; /* Mobile does not have the 'tweet' 'instagram' 'reddit' text, we are making the site mobile first */
}
/* Image and socials */

/* Article */
article {
  grid-area: 3/2/4/-2;
  margin: var(--spacer--md) 0; /* This already has a spacer sm but we want a bigger gap between the article and the image, forgo the margin left and right */
}

article p {
  margin-bottom: var(--spacer--sm);
}

.article_author {
  border: 6px solid hsl(var(--text));
  padding: var(--spacer--md);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacer--md);
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin-top: calc(var(--spacer--lg) / 1.2);
}

.article_author_details p {
  margin-bottom: 0; /* Cancels the earlier spacing instructions */
}

.article_author_details .capitalized {
  margin: .2rem 0 0.8rem;
}

.article_author_img {
  width: clamp(100px, -0.6667rem + 7.4074vw, 180px);
  border: clamp(0.4rem, 1px + 0.2vw, 0.5rem) solid hsl(var(--accent));
  border-radius: 50%;
}
/* Article */

/* Sidebar */
.sidebar {
  grid-area: 4/2/5/-2;
  display: flex;
  flex-wrap: wrap; /* Wrap downwards on a small enough screen*/
  gap: var(--spacer--lg);
  align-items: flex-start; /* Prevents tags and sidebar heading to stretch on a wider screen */
  align-content: flex-start; /* Brings the Related posts up a bit on a 1000px+ screen */
}

.sidebar_header {
  border-bottom: 4px solid hsl(var(--text));
  padding-bottom: .5rem;
}

.sidebar_tags, .sidebar_related {
  display: grid;
  gap: .8rem;
}

.related_post_container {
  display: grid;
  gap: .5rem;
}

.related_post a {
  color: hsl(var(--text));
  text-decoration: none;
}

.tags_container {
  display: flex;
  flex-wrap: wrap;
  gap: .7rem;
}
/* Sidebar */

/* Media query */
@media only screen and (min-width: 600px) {
  .sidebar_tags, .sidebar_related {
    flex: 1 1 40%; /* grow/shrink/Related Posts will snap down once it can't sustain 40% */
  }
}

@media only screen and (min-width: 1000px) {
  :root {
    font-size: 18px;
  }
  .container {
    grid-template-columns: repeat(15, 1fr);
  }
  .share_social {
    margin-left: calc(100% / 15); /* Same situation as before, calc to align the socials */
  }
  article {
    grid-area: 3/2/4/10; /* At rows 3 and 4, columns 2 and 10*/
  }
  .sidebar {
    grid-area: 3/11/4/-2; /* Take up the space besides the article on a bigger screen, hence the column start at 11 and ending of second last column*/
    margin: var(--spacer--md); /* Fixes the margin when the article and article tags are together*/
  }
  .article_author {
    text-align: left;
    flex-wrap: nowrap;
    position: relative; /* Allows a psuedo element to be positioned*/
  }
  .article_author::before {
    content: '';
    position: absolute;
    width: 26px;
    height: 80%;
    background-color: hsl(var(--accent));
    left: calc(var(--spacer--md) *-.4);
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(21, 1fr); /* Back to 21 grid system */
  }
  .sidebar_tags, .sidebar_related {
    flex: 1 1 100%;
  }
  .social_text {
    display: block;
  }
  .share_social {
    flex-direction: column;
    gap: .9rem;
    margin-left: calc(100% / 21);
  }
  article {
    grid-area: 3/3/4/15;
  }
  .sidebar {
    grid-area: 3/15/4/-2;
    margin-left: calc(var(--spacer--md) + var(--spacer--sm));
  }
}
/* Media query */